.slogan {
  padding: 117px 0 65px;
}

.slogan__text {
  font-family: "WorkSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.slogan__title {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 300px;
  text-transform: uppercase;
  text-align: center;
  color: #f2a531;
  line-height: 1;
}

.slogan__img {
  margin-top: -147px;
}
